/* High level containers */
body 
{ 
  color: black;
  
  font: normal 12px verdana, arial, helvetica, sans-serif;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
}

#page_container
{
  width: 70em; 
  position: absolute;
  min-height: 400px;
  
  color: black;

  margin-top: 5px;
  padding-left: 10px;
  border-right: solid 1px #aaaaaa;
  border-top: solid 1px #aaaaaa;
}

#footer
{
  position: absolute;
  bottom: -1px;
  right: -1px;
  font-size: 8pt;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: gray;
  border-bottom: solid 1px #aaaaaa;
}

/* Headings */
h1#page_heading
{
  font-size: 24pt;
  margin-bottom: 0;
  margin-top: 10px;
  padding-bottom: 0;
}

h1#page_heading a
{
  color: black;
}

h1#page_heading a:hover
{
  text-decoration: none;
}

h2#page_subtitle
{
  margin-top: -5px;
  height: 40px;
  font-size: 10pt;
  color: black;
  font-weight: normal;
}

h2
{
  font-size: 1.2em;
  color: #333333;
}

h2 a, h3, h4, h5
{
  color: #333333;
}

/* Text */
p 
{
  padding: 0px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px;
  text-align: justify;
}

strong
{
  color: #333333;
}
/* Links */
.openid
{
  background-image: url("/images/openid_icon.png");
  padding-left: 15px;
  background-repeat: no-repeat;
  background-position: 0px 2px;
}

a 
{
  color: #000051;
  
  text-decoration: none;    
}
  
small a, label a
{
  text-decoration: underline;
}

a:hover
{
  text-decoration: underline;    
}
  
#footer a
{
  color: gray;
  text-decoration: underline;
}

img
{
  /* border: solid 1px black; */
  border: none;
}

/* Two columns */
#navigation 
{
  position: absolute;
  width: 10em;
  top: -1px; 
  right: -1px;

  border: none;
  border-left: solid 1px #aaaaaa;
  border-bottom: solid 1px #aaaaaa;
  border-top: solid 1px white;
  border-right: solid 1px white;

  padding: 10px;
}

#navigation h2
{
  display: inline;
}


#navigation label
{
  margin-left: 0;
  font-style: normal;
}

#navigation ul
{
  padding-left: 10px;
  
  margin-left: 0px;
  margin-top: 0px;
  list-style: none;
}
  
#navigation ul li
{
  padding-left: 0px;
  margin-left: 0px;
}

#navigation h3
{
  font-size: 1.2em;
  font-weight: bold;
  font-family: verdana,arial,helvetica,sans-serif;
}

#navigation input
{
  border: solid 1px black;
  width: 100%;
}

#navigation form
{
  margin-bottom: 1em;
}

#main 
{
  padding-right: 150px;
  padding-left: 0px;
  padding-top: 15px;
  padding-bottom: 40px;
}

div.meta
{
 margin-top: 1em;
 margin-bottom: 3em; 
}
/* Formatting */   

.meta ul
{
  list-style: none;
  margin: 0px;
  padding-left: 0em;
  padding-bottom: 0.5em;
  display: inline;
  color: #cccccc;
  font-size: 10pt;
}
.archive-month .tags
{
  color: #bbbbbb;
}

.meta a, .archive-month .tags a
{
  color: #bbbbbb;
  border-bottom: dotted 1px #bbbbbb;
}

.meta a:hover
{
  text-decoration: none;
}

.meta ul li
{
  display: inline;
}
 
.meta ul li:after
{
  content: " | ";
}

.meta ul li:last-child:after
{
  content: "";
}

h2
{
  margin-bottom: 0px;
}

.separator 
{
  height: 1px;
  margin-top:5px;
  clear: both;
}

/* Forms */
label
{
  margin-left: 1em;
}

textarea, select
{
  font: normal 12px verdana, arial, helvetica, sans-serif;
}

textarea
{
  width: 500px;
}

#project_summary
{
  height: 150px;
}

#new_comment textarea, #edit_comment textarea
{
  height: 150px;
}

.alt, .container_alt
{
  background-color: #fafafa;
}

ol.commentlist li cite img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

div.comments div.body
{
  padding: 5px;
}
div.comments div.meta
{
  min-height: 0px;
  padding: 0px
}
  
div.comments div.separator
{
  height: 10px;
}

div.errors
{
  border: solid 1px red;
  background-color: #ffcccc;
  padding: 5px;
  padding-left: 10px;
  width: 485px;
}

div.errors h3
{
  font-size: 1.0em;
}

.fieldWithErrors
{
  display: inline;
}

span.error
{
  font-weight: bold;
  }
  
hr
{
  border-top: dotted 1px black;
  border-bottom: none;
  height: 1px;
}

#preview
{
  height: 200px;
  overflow: auto;
}

.related {
  background-color: #f8f8f8;
  border: 1px solid silver;
  padding: 10px;
}

/* Syntax */


/* TOC */
fieldset.toc
{
  float: right; 
  border: dotted 1px black; 
  background-color: #fafafa;
  padding: 10px;
  margin-left: 5px;
}

.toc legend
{
  font-weight: bold;
}

.toc ol
{
  margin: 0px;
  padding-left: 0px;
  list-style-position: inside;
}

.toc ol ol
{
  list-style-type: lower-alpha;
  padding-left: 15px;
}

pre.ruby .keyword { color: #c41f1f; }
pre.ruby .constant { color: #961818; }
pre.ruby .comment { color: #f37e00; }
pre.ruby .string { color: #b77c0a; }
