<% content_for(:page_title) do -%>
<%= "404 Not Found" -%>
<% end -%>

<h2 style='color:red'>404 Not Found</h2>

<script type="text/javascript">
  var GOOG_FIXURL_LANG = 'ru';
  var GOOG_FIXURL_SITE = 'http://zed.0xff.me/';
</script>
<script type="text/javascript" src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
